<div class="dashboard-layout">
  <nav class="sidebar">
    <app-welcome *ngIf="userDetails"></app-welcome>
    </nav>
  <div class="dashboard-content">
    <header class="dashboard-topbar">
      <h1 class="dashboard-topbar-title">Dashboard</h1>
      <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
      <button *ngIf="usersList && usersList.length > 0" class="massive-upload-button" (click)="openFileUploader()">Carga Masiva</button>
      <input type="file" id="fileUploader" accept=".csv,.xlsx" style="display: none" (change)="handleFileInput($event)">
    </header>
    <div class="dashboard-main-content">
      <div *ngIf="!usersList || usersList.length === 0" class="welcome-message">
        <h2>Bienvenido</h2>
      </div>
      <div *ngIf="usersList && usersList.length > 0" class="table-container">
        <table>
          <caption style="font-size: 1.2em; font-weight: bold;">Lista de Usuarios</caption> <!-- Título de la tabla -->
          <thead>
          <tr>
            <th>ID Usuario</th>
            <th>Nombre de Usuario</th>
            <th>Correo Electrónico</th>
            <th>Status</th>
            <th>Intentos Fallidos</th>
            <th>Detalles de la Persona</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of usersList">
            <td class="center">{{ user.idUsuario }}</td>
            <td class="center">{{ user.userName }}</td>
            <td class="center">{{ user.mail }}</td>
            <td class="center">{{ user.status }}</td>
            <td class="center">{{ user.intentoFallido }}</td>
            <td>
              <ul>
                <li>ID Persona: {{ user.personaByPersonaIdPersona2.idPersona }}</li>
                <li>Nombre: {{ user.personaByPersonaIdPersona2.nombres }}</li>
                <li>Apellido: {{ user.personaByPersonaIdPersona2.apellido }}</li>
                <li>Identificación: {{ user.personaByPersonaIdPersona2.identificacion }}</li>
                <li>Fecha de Nacimiento: {{ user.personaByPersonaIdPersona2.fechaNacimiento }}</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
