.dashboard-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #63CAA7; /* Verde agua de la paleta */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logout-button {
  background-color: #FFC172; /* Naranja de la paleta */
  color: #26798E; /* Azul de la paleta */
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.logout-button:hover {
  background-color: #FFEEB3; /* Amarillo claro de la paleta */
}

.dashboard-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-topbar {
  background-color: #FFEEB3; /* Amarillo claro de la paleta */
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dashboard-topbar-title {
  margin: 0;
  color: #26798E; /* Azul de la paleta */
}

.dashboard-main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.stat-item {
  text-align: center;
}

.stat-title {
  color: #26798E; /* Azul de la paleta */
  margin-bottom: 5px;
}

.stat-value {
  font-size: 1.5em;
  color: #63CAA7; /* Verde agua de la paleta */
}
