<!-- login.component.html -->
<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
    <h2 class="text-center">Iniciar Sesión</h2>

    <!-- Usuario -->
    <div class="form-group">
      <label for="userName">Nombre de Usuario</label>
      <input type="text" class="form-control" id="userName" formControlName="userName" placeholder="Ingresa tu nombre de usuario">
      <!-- Errores para userName -->
      <div *ngIf="loginForm.get('userName')?.touched">
        <small class="text-danger" *ngIf="loginForm.get('userName')?.errors?.['required']">
          El nombre de usuario es obligatorio.
        </small>
        <small class="text-danger" *ngIf="loginForm.get('userName')?.errors?.['minlength']">
          El nombre de usuario debe tener al menos 8 caracteres.
        </small>
        <small class="text-danger" *ngIf="loginForm.get('userName')?.errors?.['maxlength']">
          El nombre de usuario no puede tener más de 20 caracteres.
        </small>
        <small class="text-danger" *ngIf="loginForm.get('userName')?.errors?.['pattern']">
          El nombre de usuario debe contener al menos una letra mayúscula y un número.
        </small>
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group position-relative">
      <label for="password">Contraseña</label>
      <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" formControlName="password" placeholder="Ingresa tu contraseña">
      <!-- Errores para password -->
      <div *ngIf="loginForm.get('password')?.touched">
        <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">
          La contraseña es obligatoria.
        </small>
        <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">
          La contraseña debe tener al menos 8 caracteres.
        </small>
        <small class="text-danger" *ngIf="loginForm.get('password')?.errors?.['pattern']">
          La contraseña debe contener al menos una letra mayúscula y un carácter especial.
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>

    <div class="forgot-link text-right">
      <a [routerLink]="'/recover-password'">¿Olvidaste tu contraseña?</a>
    </div>
  </form>
</div>
