/* login.component.css */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #63CAA7; /* Uso del color verde agua de la paleta */
  border-radius: 8px;
  background-color: #FFEEB3; /* Uso del color amarillo claro de la paleta */
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.login-container label {
  color: #26798E; /* Uso del color azul de la paleta */
  font-weight: bold;
}

.login-container input {
  border: 2px solid #63CAA7; /* Uso del color verde agua de la paleta */
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

.login-container input:focus {
  outline: none;
  border-color: #FFC172; /* Uso del color naranja de la paleta */
  box-shadow: 0 0 0 2px rgba(255, 193, 114, 0.5);
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #26798E; /* Uso del color azul de la paleta */
  cursor: pointer;
}

.login-container button:hover {
  background-color: #63CAA7; /* Uso del color verde agua de la paleta */
}

.login-container a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #FFC172; /* Uso del color naranja de la paleta */
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}







