<div class="login-container">
  <form (ngSubmit)="onSubmitRecover()" [formGroup]="recoverForm" class="login-form">
    <h2 class="text-center">Recuperar Contraseña</h2>

    <!-- Email -->
    <div class="form-group">
      <label for="email">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ingresa tu correo electrónico">
      <div *ngIf="recoverForm.get('email')?.touched">
        <small class="text-danger" *ngIf="recoverForm.get('email')?.errors?.['required']">
          El correo electrónico es obligatorio.
        </small>
        <small class="text-danger" *ngIf="recoverForm.get('email')?.errors?.['email']">
          Debes ingresar un correo electrónico válido.
        </small>
      </div>
    </div>

    <!-- Nueva Contraseña -->
    <div class="form-group">
      <label for="newPassword">Nueva Contraseña</label>
      <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Ingresa tu nueva contraseña">
      <div *ngIf="recoverForm.get('newPassword')?.touched">
        <small class="text-danger" *ngIf="recoverForm.get('newPassword')?.errors?.['required']">
          La contraseña es obligatoria.
        </small>
        <small class="text-danger" *ngIf="recoverForm.get('newPassword')?.errors?.['minlength']">
          La contraseña debe tener al menos 8 caracteres.
        </small>
      </div>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!recoverForm.valid">Enviar Instrucciones</button>

    <!-- Volver al inicio de sesión -->
    <div class="forgot-link text-right">
      <a [routerLink]="'/login'">Volver al inicio de sesión</a>
    </div>
  </form>
</div>
