/* welcome.component.css */
.welcome-container {
  padding: 2rem;
  border-radius: 8px;
  background: #f4f4f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
}

.welcome-container h1 {
  color: #26798E;
  margin-bottom: 1.5rem;
}

.welcome-container p {
  color: #333;
  font-size: 1rem;
  margin: 0.5rem 0;
  line-height: 1.6;
}

.welcome-container p span {
  font-weight: bold;
}
